@font-face {
    font-family: JetBrains Mono;
    src: url("../../src/assets/fonts/JetBrainsMono-Regular.ttf");
}

@font-face {
    font-family: JetBrains Mono Bold;
    src: url("../../src/assets/fonts/JetBrainsMono-ExtraBold.ttf");
}

@font-face {
    font-family: JetBrains Mono Nerd;
    src: url("../../src/assets/fonts/JetBrainsMonoNerdFont-Regular.ttf");
}